In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [3]:
start_date = pd.to_datetime('2023-06-01')
end_date = pd.to_datetime('2023-08-31')

data = []

for date in pd.date_range(start_date, end_date, freq='D'):
    search_url = f"https://m-flight.naver.com/flights/international/PAR-SEL-{date.strftime('%Y%m%d')}?adult=1&fareType=F"

    browser = webdriver.Chrome('C:/Users/chromedriver.exe')
    browser.get(search_url)
    browser.implicitly_wait(20)

    oneday = browser.find_elements(By.CLASS_NAME, "indivisual_inner__2RKYG")
    for i in range(len(oneday)):
        rr1 = oneday[i].find_element(By.CLASS_NAME, "indivisual_schedule__1tq7j").text
        rr2 = oneday[i].find_element(By.CLASS_NAME, "item_ItemPriceList__22YBo").text
        data.append([date, rr1, rr2])

    browser.quit()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_31668\2439966285.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome('C:/Users/chromedriver.exe')

In [4]:
df = pd.DataFrame(data, columns=['date', 'rr1', 'rr2'])

In [5]:
df

,date,rr1,rr2
0,2023-06-01,"에미레이트항공\n11:25CDG\n17:00ICN\n+1일\n경유 1, 22시간 35분","성인/모든 결제수단\n편도 6,136,900원~"
1,2023-06-01,"에미레이트항공\n15:35CDG\n17:00ICN\n+1일\n경유 1, 18시간 25분","성인/모든 결제수단\n편도 6,136,900원~"
2,2023-06-01,"에미레이트항공\n21:55CDG\n17:00ICN\n+2일\n경유 1, 36시간 05분","성인/모든 결제수단\n편도 6,136,900원~"
3,2023-06-01,"대한항공\n21:00CDG\n15:45ICN\n+1일\n직항, 11시간 45분","성인/모든 결제수단\n편도 10,793,200원~"
4,2023-06-02,"에미레이트항공\n21:55CDG\n17:00ICN\n+2일\n경유 1, 36시간 05분","성인/모든 결제수단\n편도 6,089,300원~"
...,...,...,...
1009,2023-08-31,여러항공사싱가폴항공 공동운항\n12:00CDG\n15:35ICN\n+1일\n경유 1...,"성인/모든 결제수단\n편도 17,376,200원~"
1010,2023-08-31,ANA항공 공동운항 정보확인필요\n09:35CDG\n14:25GMP\n+1일\n경유...,"성인/모든 결제수단\n편도 17,671,000원~"
1011,2023-08-31,ANA항공 공동운항 정보확인필요\n09:35CDG\n14:25GMP\n+1일\n경유...,"성인/모든 결제수단\n편도 17,711,000원~"
1012,2023-08-31,"여러항공사\n12:45CDG\n05:10ICN\n+2일\n경유 1, 33시간 25분","성인/모든 결제수단\n편도 17,810,300원~"
1013,2023-08-31,"여러항공사\n12:45CDG\n05:25ICN\n+2일\n경유 1, 33시간 40분","성인/모든 결제수단\n편도 20,032,400원~"

In [6]:
split0 = df[['date']]

In [7]:
split0.columns = ['Date']

In [8]:
split1 = df.rr1.str.split('\n', expand = True)
split1.columns = ['Airline', 'Departure', 'Arrival', 'Day', 'time']

In [9]:
split01 = pd.concat([split0, split1], axis = 1)

In [10]:
split2 = df.rr2.str.split('\n', expand = True)
split2.columns = ['Payment', 'Price']

In [11]:
split2

         Payment            Price
0     성인/모든 결제수단   편도 6,136,900원~
1     성인/모든 결제수단   편도 6,136,900원~
2     성인/모든 결제수단   편도 6,136,900원~
3     성인/모든 결제수단  편도 10,793,200원~
4     성인/모든 결제수단   편도 6,089,300원~
...          ...              ...
1009  성인/모든 결제수단  편도 17,376,200원~
1010  성인/모든 결제수단  편도 17,671,000원~
1011  성인/모든 결제수단  편도 17,711,000원~
1012  성인/모든 결제수단  편도 17,810,300원~
1013  성인/모든 결제수단  편도 20,032,400원~

[1014 rows x 2 columns]

In [12]:
split012 = pd.concat([split01, split2], axis = 1)

In [13]:
split012

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,에미레이트항공,11:25CDG,17:00ICN,+1일,"경유 1, 22시간 35분",성인/모든 결제수단,"편도 6,136,900원~"
1,2023-06-01,에미레이트항공,15:35CDG,17:00ICN,+1일,"경유 1, 18시간 25분",성인/모든 결제수단,"편도 6,136,900원~"
2,2023-06-01,에미레이트항공,21:55CDG,17:00ICN,+2일,"경유 1, 36시간 05분",성인/모든 결제수단,"편도 6,136,900원~"
3,2023-06-01,대한항공,21:00CDG,15:45ICN,+1일,"직항, 11시간 45분",성인/모든 결제수단,"편도 10,793,200원~"
4,2023-06-02,에미레이트항공,21:55CDG,17:00ICN,+2일,"경유 1, 36시간 05분",성인/모든 결제수단,"편도 6,089,300원~"
...,...,...,...,...,...,...,...,...
1009,2023-08-31,여러항공사싱가폴항공 공동운항,12:00CDG,15:35ICN,+1일,"경유 1, 20시간 35분",성인/모든 결제수단,"편도 17,376,200원~"
1010,2023-08-31,ANA항공 공동운항 정보확인필요,09:35CDG,14:25GMP,+1일,"경유 2, 21시간 50분",성인/모든 결제수단,"편도 17,671,000원~"
1011,2023-08-31,ANA항공 공동운항 정보확인필요,09:35CDG,14:25GMP,+1일,"경유 2, 21시간 50분",성인/모든 결제수단,"편도 17,711,000원~"
1012,2023-08-31,여러항공사,12:45CDG,05:10ICN,+2일,"경유 1, 33시간 25분",성인/모든 결제수단,"편도 17,810,300원~"
1013,2023-08-31,여러항공사,12:45CDG,05:25ICN,+2일,"경유 1, 33시간 40분",성인/모든 결제수단,"편도 20,032,400원~"

In [14]:
split012.to_csv('airkor_FC.csv', index=False)