In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [3]:
start_date = pd.to_datetime('2023-06-01')
end_date = pd.to_datetime('2023-08-31')

data = []

for date in pd.date_range(start_date, end_date, freq='D'):
    search_url = f"https://m-flight.naver.com/flights/international/PAR-SEL-{date.strftime('%Y%m%d')}?adult=1&fareType=C"

    browser = webdriver.Chrome('C:/Users/chromedriver.exe')
    browser.get(search_url)
    browser.implicitly_wait(20)

    oneday = browser.find_elements(By.CLASS_NAME, "indivisual_inner__2RKYG")
    for i in range(len(oneday)):
        rr1 = oneday[i].find_element(By.CLASS_NAME, "indivisual_schedule__1tq7j").text
        rr2 = oneday[i].find_element(By.CLASS_NAME, "item_ItemPriceList__22YBo").text
        data.append([date, rr1, rr2])

    browser.quit()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_33008\3972755106.py:9: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome('C:/Users/chromedriver.exe')

In [4]:
df = pd.DataFrame(data, columns=['date', 'rr1', 'rr2'])

In [5]:
df

,date,rr1,rr2
0,2023-06-01,"터키항공\n17:55CDG\n17:40ICN\n+1일\n경유 1, 16시간 45분","성인/모든 결제수단\n편도 2,396,700원~"
1,2023-06-01,"터키항공\n16:10CDG\n17:40ICN\n+1일\n경유 1, 18시간 30분","성인/KB국민카드\n편도 2,430,300원~"
2,2023-06-01,"터키항공\n14:10CDG\n17:40ICN\n+1일\n경유 1, 20시간 30분","성인/현대카드\n편도 2,519,900원~"
3,2023-06-01,"터키항공\n11:05CDG\n17:40ICN\n+1일\n경유 1, 23시간 35분","성인/현대카드\n편도 2,519,900원~"
4,2023-06-01,"터키항공\n12:00CDG\n09:25ICN\n+1일\n경유 1, 14시간 25분","성인/모든 결제수단\n편도 2,866,700원~"
...,...,...,...
16752,2023-08-31,에어프랑스네덜란드항공 공동운항\n20:15CDG\n12:10ICN\n+2일\n경유 ...,"성인/현대 M2/M3 Edition2(이용실적 충족시)\n편도 7,135,300원~"
16753,2023-08-31,"싱가폴항공\n22:40CDG\n15:35ICN\n+2일\n경유 1, 33시간 55분","성인/모든 결제수단\n편도 7,185,200원~"
16754,2023-08-31,"여러항공사\n18:10CDG\n07:10ICN\n+2일\n경유 2, 30시간 00분","성인/모든 결제수단\n편도 7,207,100원~"
16755,2023-08-31,"여러항공사\n16:25CDG\n07:10ICN\n+2일\n경유 2, 31시간 45분","성인/모든 결제수단\n편도 7,207,100원~"
16756,2023-08-31,"여러항공사\n11:55CDG\n07:10ICN\n+2일\n경유 2, 36시간 15분","성인/모든 결제수단\n편도 7,207,100원~"

In [6]:
split0 = df[['date']]

In [7]:
split0.columns = ['Date']

In [8]:
split1 = df.rr1.str.split('\n', expand = True)
split1.columns = ['Airline', 'Departure', 'Arrival', 'Day', 'time']

In [9]:
split01 = pd.concat([split0, split1], axis = 1)

In [10]:
split2 = df.rr2.str.split('\n', expand = True)
split2.columns = ['Payment', 'Price']

In [11]:
split2

                              Payment           Price
0                          성인/모든 결제수단  편도 2,396,700원~
1                           성인/KB국민카드  편도 2,430,300원~
2                             성인/현대카드  편도 2,519,900원~
3                             성인/현대카드  편도 2,519,900원~
4                          성인/모든 결제수단  편도 2,866,700원~
...                               ...             ...
16752  성인/현대 M2/M3 Edition2(이용실적 충족시)  편도 7,135,300원~
16753                      성인/모든 결제수단  편도 7,185,200원~
16754                      성인/모든 결제수단  편도 7,207,100원~
16755                      성인/모든 결제수단  편도 7,207,100원~
16756                      성인/모든 결제수단  편도 7,207,100원~

[16757 rows x 2 columns]

In [12]:
split012 = pd.concat([split01, split2], axis = 1)

In [13]:
split012

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,터키항공,17:55CDG,17:40ICN,+1일,"경유 1, 16시간 45분",성인/모든 결제수단,"편도 2,396,700원~"
1,2023-06-01,터키항공,16:10CDG,17:40ICN,+1일,"경유 1, 18시간 30분",성인/KB국민카드,"편도 2,430,300원~"
2,2023-06-01,터키항공,14:10CDG,17:40ICN,+1일,"경유 1, 20시간 30분",성인/현대카드,"편도 2,519,900원~"
3,2023-06-01,터키항공,11:05CDG,17:40ICN,+1일,"경유 1, 23시간 35분",성인/현대카드,"편도 2,519,900원~"
4,2023-06-01,터키항공,12:00CDG,09:25ICN,+1일,"경유 1, 14시간 25분",성인/모든 결제수단,"편도 2,866,700원~"
...,...,...,...,...,...,...,...,...
16752,2023-08-31,에어프랑스네덜란드항공 공동운항,20:15CDG,12:10ICN,+2일,"경유 1, 32시간 55분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 7,135,300원~"
16753,2023-08-31,싱가폴항공,22:40CDG,15:35ICN,+2일,"경유 1, 33시간 55분",성인/모든 결제수단,"편도 7,185,200원~"
16754,2023-08-31,여러항공사,18:10CDG,07:10ICN,+2일,"경유 2, 30시간 00분",성인/모든 결제수단,"편도 7,207,100원~"
16755,2023-08-31,여러항공사,16:25CDG,07:10ICN,+2일,"경유 2, 31시간 45분",성인/모든 결제수단,"편도 7,207,100원~"
16756,2023-08-31,여러항공사,11:55CDG,07:10ICN,+2일,"경유 2, 36시간 15분",성인/모든 결제수단,"편도 7,207,100원~"

In [14]:
split012.to_csv('airkor_BC.csv', index=False)