In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/airpar.csv')

In [3]:
df

,Date,Airline,Departure,Arrival,Day,time,Payment,Price
0,2023-06-01,폴란드항공,11:20ICN,09:55CDG,+1일,"경유 1, 29시간 35분",성인/롯데카드,"편도 813,300원~"
1,2023-06-01,폴란드항공,11:20ICN,22:45CDG,"경유 1, 18시간 25분",NaN,성인/롯데카드,"편도 813,300원~"
2,2023-06-01,폴란드항공,11:20ICN,18:55CDG,+1일,"경유 1, 38시간 35분",성인/롯데카드,"편도 813,300원~"
3,2023-06-01,에어인디아,12:05ICN,18:30CDG,+1일,"경유 1, 37시간 25분",성인/모든 결제수단,"편도 1,003,900원~"
4,2023-06-01,에티오피아항공,00:25ICN,06:25CDG,+1일,"경유 1, 37시간 00분",성인/KB국민카드,"편도 1,021,400원~"
...,...,...,...,...,...,...,...,...
7194,2023-08-31,터키항공,23:35ICN,12:45CDG,+1일,"경유 1, 20시간 10분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,669,900원~"
7195,2023-08-31,터키항공,23:35ICN,17:05CDG,+1일,"경유 1, 24시간 30분",성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,669,900원~"
7196,2023-08-31,베트남항공에어프랑스 공동운항,10:15ICN,16:45CDG,+1일,"경유 1, 37시간 30분",성인/롯데카드,"편도 1,678,100원~"
7197,2023-08-31,루프트한자,12:20ICN,11:25CDG,+1일,"경유 2, 30시간 05분",성인/모든 결제수단,"편도 1,692,200원~"
7198,2023-08-31,여러항공사,15:00ICN,19:25CDG,+1일,"경유 1, 35시간 25분",성인/하나카드,"편도 1,738,200원~"

In [4]:
df_error = df[(df['time'].isnull())]
df_error['time'] = df_error['Day']
df_error['Day'] = '0일'

null_time = df[(df['time'].isnull())]
df = df.drop(index=null_time.index).reset_index(drop=True)

df_com = pd.concat([df, df_error], axis=0)
df_com = df_com.reset_index(drop=True)

<ipython-input-4-40412cb08d98>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['time'] = df_error['Day']
<ipython-input-4-40412cb08d98>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_error['Day'] = '0일'

In [5]:
df_com1 = df_com[['Date', 'Airline', 'Departure', 'Arrival', 'Day', 'Payment', 'Price']]
df_com2 = df_com.time.str.split(',', expand = True)
df_com2.columns = ['Through', 'Time']

In [6]:
df_co = pd.concat([df_com1, df_com2], axis = 1)

In [7]:
df_coerpr = df_co[(df_co['Price'] == '할인')]
df_co = df_co.drop(index=df_coerpr.index).reset_index(drop=True)

In [8]:
df_co

,Date,Airline,Departure,Arrival,Day,Payment,Price,Through,Time
0,2023-06-01,폴란드항공,11:20ICN,09:55CDG,+1일,성인/롯데카드,"편도 813,300원~",경유 1,29시간 35분
1,2023-06-01,폴란드항공,11:20ICN,18:55CDG,+1일,성인/롯데카드,"편도 813,300원~",경유 1,38시간 35분
2,2023-06-01,에어인디아,12:05ICN,18:30CDG,+1일,성인/모든 결제수단,"편도 1,003,900원~",경유 1,37시간 25분
3,2023-06-01,에티오피아항공,00:25ICN,06:25CDG,+1일,성인/KB국민카드,"편도 1,021,400원~",경유 1,37시간 00분
4,2023-06-01,에티하드항공,17:55ICN,07:45CDG,+1일,성인/하나카드,"편도 1,080,300원~",경유 1,20시간 50분
...,...,...,...,...,...,...,...,...,...
6934,2023-08-31,루프트한자,12:20ICN,21:25CDG,0일,성인/삼성카드,"편도 1,489,900원~",경유 1,16시간 05분
6935,2023-08-31,여러항공사,13:20ICN,23:40CDG,0일,성인/하나멤버스 1Q 카드 Daily,"편도 1,518,800원~",경유 1,17시간 20분
6936,2023-08-31,대한항공,12:20ICN,18:30CDG,0일,장애인,"편도 1,545,600원~",직항,13시간 10분
6937,2023-08-31,여러항공사,10:55ICN,22:50CDG,0일,성인/하나멤버스 1Q 카드 Daily,"편도 1,548,900원~",경유 1,18시간 55분
6938,2023-08-31,카타르항공,01:30ICN,21:15CDG,0일,성인/현대 M2/M3 Edition2(이용실적 충족시),"편도 1,619,700원~",경유 1,26시간 45분

In [9]:
def extract_price(price_str):
    price_str = price_str.replace('편도 ', '')
    price_str = price_str.replace(',', '')
    price_str = price_str.replace('원~', '')
    price = int(price_str)
    return price

In [10]:
df_co['Price'] = df_co['Price'].apply(extract_price)

df_co['Departure_Time'] = df_co['Departure'].str.extract(r'(\d{2}:\d{2})[^:]+$')
df_co['Departure'] = df_co['Departure'].str.replace('[^a-zA-Z\s]', '')

df_co['Arrival_Time'] = df_co['Arrival'].str.extract(r'(\d{2}:\d{2})[^:]+$')
df_co['Arrival'] = df_co['Arrival'].str.replace('[^a-zA-Z\s]', '')

<ipython-input-10-56cf30e73e6b>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_co['Departure'] = df_co['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-10-56cf30e73e6b>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df_co['Arrival'] = df_co['Arrival'].str.replace('[^a-zA-Z\s]', '')

In [11]:
df_co

,Date,Airline,Departure,Arrival,Day,Payment,Price,Through,Time,Departure_Time,Arrival_Time
0,2023-06-01,폴란드항공,ICN,CDG,+1일,성인/롯데카드,813300,경유 1,29시간 35분,11:20,09:55
1,2023-06-01,폴란드항공,ICN,CDG,+1일,성인/롯데카드,813300,경유 1,38시간 35분,11:20,18:55
2,2023-06-01,에어인디아,ICN,CDG,+1일,성인/모든 결제수단,1003900,경유 1,37시간 25분,12:05,18:30
3,2023-06-01,에티오피아항공,ICN,CDG,+1일,성인/KB국민카드,1021400,경유 1,37시간 00분,00:25,06:25
4,2023-06-01,에티하드항공,ICN,CDG,+1일,성인/하나카드,1080300,경유 1,20시간 50분,17:55,07:45
...,...,...,...,...,...,...,...,...,...,...,...
6934,2023-08-31,루프트한자,ICN,CDG,0일,성인/삼성카드,1489900,경유 1,16시간 05분,12:20,21:25
6935,2023-08-31,여러항공사,ICN,CDG,0일,성인/하나멤버스 1Q 카드 Daily,1518800,경유 1,17시간 20분,13:20,23:40
6936,2023-08-31,대한항공,ICN,CDG,0일,장애인,1545600,직항,13시간 10분,12:20,18:30
6937,2023-08-31,여러항공사,ICN,CDG,0일,성인/하나멤버스 1Q 카드 Daily,1548900,경유 1,18시간 55분,10:55,22:50
6938,2023-08-31,카타르항공,ICN,CDG,0일,성인/현대 M2/M3 Edition2(이용실적 충족시),1619700,경유 1,26시간 45분,01:30,21:15

In [12]:
df_clean = df_co.copy()

In [13]:
df_clean

,Date,Airline,Departure,Arrival,Day,Payment,Price,Through,Time,Departure_Time,Arrival_Time
0,2023-06-01,폴란드항공,ICN,CDG,+1일,성인/롯데카드,813300,경유 1,29시간 35분,11:20,09:55
1,2023-06-01,폴란드항공,ICN,CDG,+1일,성인/롯데카드,813300,경유 1,38시간 35분,11:20,18:55
2,2023-06-01,에어인디아,ICN,CDG,+1일,성인/모든 결제수단,1003900,경유 1,37시간 25분,12:05,18:30
3,2023-06-01,에티오피아항공,ICN,CDG,+1일,성인/KB국민카드,1021400,경유 1,37시간 00분,00:25,06:25
4,2023-06-01,에티하드항공,ICN,CDG,+1일,성인/하나카드,1080300,경유 1,20시간 50분,17:55,07:45
...,...,...,...,...,...,...,...,...,...,...,...
6934,2023-08-31,루프트한자,ICN,CDG,0일,성인/삼성카드,1489900,경유 1,16시간 05분,12:20,21:25
6935,2023-08-31,여러항공사,ICN,CDG,0일,성인/하나멤버스 1Q 카드 Daily,1518800,경유 1,17시간 20분,13:20,23:40
6936,2023-08-31,대한항공,ICN,CDG,0일,장애인,1545600,직항,13시간 10분,12:20,18:30
6937,2023-08-31,여러항공사,ICN,CDG,0일,성인/하나멤버스 1Q 카드 Daily,1548900,경유 1,18시간 55분,10:55,22:50
6938,2023-08-31,카타르항공,ICN,CDG,0일,성인/현대 M2/M3 Edition2(이용실적 충족시),1619700,경유 1,26시간 45분,01:30,21:15

In [14]:
df1 = pd.read_csv('/content/airkor.csv')

In [15]:
df_error1 = df1[(df1['time'].isnull())]
df_error1['time'] = df_error1['Day']
df_error1['Day'] = '0일'

null_time1 = df1[(df1['time'].isnull())]
df1 = df1.drop(index=null_time1.index).reset_index(drop=True)

df_com1 = pd.concat([df1, df_error1], axis=0)
df_com1 = df_com1.reset_index(drop=True)

In [16]:
df_com11 = df_com1[['Date', 'Airline', 'Departure', 'Arrival', 'Day', 'Payment', 'Price']]
df_com12 = df_com1.time.str.split(',', expand = True)
df_com12.columns = ['Through', 'Time']

In [17]:
df_co1 = pd.concat([df_com11, df_com12], axis = 1)

In [18]:
df_coerpr1 = df_co1[(df_co1['Price'] == '할인')]
df_co1 = df_co1.drop(index=df_coerpr1.index).reset_index(drop=True)

In [19]:
df_co1['Price'] = df_co1['Price'].apply(extract_price)

df_co1['Departure_Time'] = df_co1['Departure'].str.extract(r'(\d{2}:\d{2})[^:]+$')
df_co1['Departure'] = df_co1['Departure'].str.replace('[^a-zA-Z\s]', '')

df_co1['Arrival_Time'] = df_co1['Arrival'].str.extract(r'(\d{2}:\d{2})[^:]+$')
df_co1['Arrival'] = df_co1['Arrival'].str.replace('[^a-zA-Z\s]', '')

<ipython-input-19-39a53441aaf0>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_co1['Departure'] = df_co1['Departure'].str.replace('[^a-zA-Z\s]', '')
<ipython-input-19-39a53441aaf0>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df_co1['Arrival'] = df_co1['Arrival'].str.replace('[^a-zA-Z\s]', '')

In [20]:
df_co1

,Date,Airline,Departure,Arrival,Day,Payment,Price,Through,Time,Departure_Time,Arrival_Time
0,2023-06-01,에어인디아,CDG,ICN,+2일,성인/모든 결제수단,614000,경유 1,31시간 05분,20:25,10:30
1,2023-06-01,중국동방항공,CDG,GMP,+2일,성인/모든 결제수단,858800,경유 1,30시간 10분,21:50,11:00
2,2023-06-01,중국동방항공,CDG,ICN,+2일,성인/모든 결제수단,858800,경유 1,31시간 05분,21:50,11:55
3,2023-06-01,중국동방항공,CDG,ICN,+2일,성인/모든 결제수단,858800,경유 1,34시간 30분,21:50,15:20
4,2023-06-01,폴란드항공,CDG,ICN,+2일,성인/모든 결제수단,912200,경유 1,36시간 35분,10:45,06:20
...,...,...,...,...,...,...,...,...,...,...,...
20439,2023-08-31,여러항공사,CDG,ICN,+1일,성인/모든 결제수단,1165600,경유 1,18시간 05분,16:25,17:30
20440,2023-08-31,베트남항공,CDG,ICN,+2일,성인/모든 결제수단,1179500,경유 2,43시간 25분,14:00,16:25
20441,2023-08-31,여러항공사Hop 공동운항,CDG,ICN,+1일,성인/현대 M2/M3 Edition2(이용실적 충족시),1188300,경유 1,14시간 40분,16:30,14:10
20442,2023-08-31,여러항공사Hop 공동운항,CDG,ICN,+2일,성인/모든 결제수단,1193700,경유 1,33시간 30분,20:45,13:15
20443,2023-08-31,타이항공,CDG,ICN,+2일,성인/모든 결제수단,1194000,경유 1,33시간 55분,13:40,06:35

In [21]:
df_clean1 = df_co1.copy()

In [22]:
df_clean1

,Date,Airline,Departure,Arrival,Day,Payment,Price,Through,Time,Departure_Time,Arrival_Time
0,2023-06-01,에어인디아,CDG,ICN,+2일,성인/모든 결제수단,614000,경유 1,31시간 05분,20:25,10:30
1,2023-06-01,중국동방항공,CDG,GMP,+2일,성인/모든 결제수단,858800,경유 1,30시간 10분,21:50,11:00
2,2023-06-01,중국동방항공,CDG,ICN,+2일,성인/모든 결제수단,858800,경유 1,31시간 05분,21:50,11:55
3,2023-06-01,중국동방항공,CDG,ICN,+2일,성인/모든 결제수단,858800,경유 1,34시간 30분,21:50,15:20
4,2023-06-01,폴란드항공,CDG,ICN,+2일,성인/모든 결제수단,912200,경유 1,36시간 35분,10:45,06:20
...,...,...,...,...,...,...,...,...,...,...,...
20439,2023-08-31,여러항공사,CDG,ICN,+1일,성인/모든 결제수단,1165600,경유 1,18시간 05분,16:25,17:30
20440,2023-08-31,베트남항공,CDG,ICN,+2일,성인/모든 결제수단,1179500,경유 2,43시간 25분,14:00,16:25
20441,2023-08-31,여러항공사Hop 공동운항,CDG,ICN,+1일,성인/현대 M2/M3 Edition2(이용실적 충족시),1188300,경유 1,14시간 40분,16:30,14:10
20442,2023-08-31,여러항공사Hop 공동운항,CDG,ICN,+2일,성인/모든 결제수단,1193700,경유 1,33시간 30분,20:45,13:15
20443,2023-08-31,타이항공,CDG,ICN,+2일,성인/모든 결제수단,1194000,경유 1,33시간 55분,13:40,06:35

In [23]:
df_clean.to_csv('korpar.csv', index=False)
df_clean1.to_csv('parkor.csv', index=False)