In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/hotel_data_6.csv')

In [3]:
df = df.drop(['page','date_time_now'], axis = 1 )
df = df.drop_duplicates()
df = df.drop(['locations','check_out'], axis = 1 )

In [4]:
df

,hotel_names,stars,avg_grades,evaluations,review_counts,prices,discount_prices,services_provided,check_in
0,더 피플 파리 마레 (The People Paris Marais),2,8.8,우수,539,205929.0,89999.0,"['조식', '무료 Wi-Fi']",2023-06-01
1,엘리시아 호텔 (Elysia Hotel),2,9.0,최고,893,1284224.0,1070090.0,"['조식', '무료 Wi-Fi']",2023-06-01
2,풀먼 파리 투르 에펠 (Pullman Paris Tour Eiffel),2,8.4,우수,8726,1657297.0,681116.0,"['조식', '무료 Wi-Fi']",2023-06-01
3,Novotel Paris Centre Tour Eiffel Hotel,1,7.8,매우 좋음,771,434657.0,434657.0,[],2023-06-01
5,이비스 파리 투어 에펠 캄브론 15엠므 (Ibis Paris Tour Eiffel ...,1,7.8,매우 좋음,826,250331.0,250331.0,[],2023-06-01
...,...,...,...,...,...,...,...,...,...
51033,Hotel Le 46,2,8.4,우수,1836,434191.0,277256.0,"['조식', '무료 Wi-Fi', '익스프레스 체크인']",2023-07-01
51034,호텔 콜리제 (Hotel Colisee),2,8.4,우수,174,537496.0,435121.0,['무료 Wi-Fi'],2023-07-01
51035,Mercure Paris Bercy Bibliotheque Hotel,2,8.6,우수,75,591441.0,322169.0,"['조식', '무료 Wi-Fi']",2023-07-01
51036,Best Western Plus 61 Paris Nation Hotel,2,7.6,매우 좋음,2036,493808.0,296386.0,"['조식', '무료 Wi-Fi']",2023-07-01
51037,스놉 호텔 바이 엘레강시아 (Snob Hotel By Elegancia),2,8.4,우수,1193,809547.0,599999.0,"['조식', '무료 Wi-Fi']",2023-07-01

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48359 entries, 0 to 51037
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hotel_names        48359 non-null  object
 1   stars              48359 non-null  int64
 2   avg_grades         48359 non-null  object
 3   evaluations        48359 non-null  object
 4   review_counts      48359 non-null  int64
 5   prices             47639 non-null  float64
 6   discount_prices    45772 non-null  float64
 7   services_provided  48359 non-null  object
 8   check_in           48359 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 3.7+ MB

In [6]:
df_error = df[(df['review_counts'] <= 0) | (df['prices'].isnull()) | (df['discount_prices'].isnull())] 
df = df.drop(index=df_error.index).reset_index(drop=True)

In [7]:
df

,hotel_names,stars,avg_grades,evaluations,review_counts,prices,discount_prices,services_provided,check_in
0,더 피플 파리 마레 (The People Paris Marais),2,8.8,우수,539,205929.0,89999.0,"['조식', '무료 Wi-Fi']",2023-06-01
1,엘리시아 호텔 (Elysia Hotel),2,9.0,최고,893,1284224.0,1070090.0,"['조식', '무료 Wi-Fi']",2023-06-01
2,풀먼 파리 투르 에펠 (Pullman Paris Tour Eiffel),2,8.4,우수,8726,1657297.0,681116.0,"['조식', '무료 Wi-Fi']",2023-06-01
3,Novotel Paris Centre Tour Eiffel Hotel,1,7.8,매우 좋음,771,434657.0,434657.0,[],2023-06-01
4,이비스 파리 투어 에펠 캄브론 15엠므 (Ibis Paris Tour Eiffel ...,1,7.8,매우 좋음,826,250331.0,250331.0,[],2023-06-01
...,...,...,...,...,...,...,...,...,...
44180,Hotel Le 46,2,8.4,우수,1836,434191.0,277256.0,"['조식', '무료 Wi-Fi', '익스프레스 체크인']",2023-07-01
44181,호텔 콜리제 (Hotel Colisee),2,8.4,우수,174,537496.0,435121.0,['무료 Wi-Fi'],2023-07-01
44182,Mercure Paris Bercy Bibliotheque Hotel,2,8.6,우수,75,591441.0,322169.0,"['조식', '무료 Wi-Fi']",2023-07-01
44183,Best Western Plus 61 Paris Nation Hotel,2,7.6,매우 좋음,2036,493808.0,296386.0,"['조식', '무료 Wi-Fi']",2023-07-01
44184,스놉 호텔 바이 엘레강시아 (Snob Hotel By Elegancia),2,8.4,우수,1193,809547.0,599999.0,"['조식', '무료 Wi-Fi']",2023-07-01

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44185 entries, 0 to 44184
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hotel_names        44185 non-null  object
 1   stars              44185 non-null  int64
 2   avg_grades         44185 non-null  object
 3   evaluations        44185 non-null  object
 4   review_counts      44185 non-null  int64
 5   prices             44185 non-null  float64
 6   discount_prices    44185 non-null  float64
 7   services_provided  44185 non-null  object
 8   check_in           44185 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 3.0+ MB

In [9]:
df.to_csv('hotel.csv', index=False)