In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/content/hotel_data_6.csv')
df2 = pd.read_csv('/content/hotel_data_7.csv')
df3 = pd.read_csv('/content/hotel_data_8.csv')

df_list = [df1, df2, df3]
df = pd.concat(df_list, ignore_index = True)

In [3]:
df

,hotel_names,stars,locations,avg_grades,evaluations,review_counts,prices,discount_prices,services_provided,check_in,check_out,page,date_time_now
0,더 피플 파리 마레 (The People Paris Marais),5,"4구 - 더 마레, 파리 - 도심에 위치",8.8,우수,539,205163,89999,"['조식', '무료 Wi-Fi']",2023-06-01,2023-06-02,1,2023-05-19 11:17:07.511892
1,더 피플 파리 네이션 (The People Paris Nation),5,"12구 - 베르시 - 가르 드 리옹(리옹역), 파리 - 도심에 위치",8.6,우수,282,187588,95562,"['조식', '무료 Wi-Fi']",2023-06-01,2023-06-02,1,2023-05-19 11:17:07.562891
2,메이페어 호텔 (Mayfair Hotel),4,"1구 - 루브르 - 샤틀레, 파리 - 도심에 위치",8.9,우수,349,666560,570930,"['무료 Wi-Fi', '익스프레스 체크인']",2023-06-01,2023-06-02,1,2023-05-19 11:17:07.598893
3,Novotel Paris Centre Tour Eiffel Hotel,4,"15구 - 투르 에펠(에펠탑) - 포르트 드 베르사유, 파리 - 도심에 위치",7.8,매우 좋음,771,436161,436161,[],2023-06-01,2023-06-02,1,2023-05-19 11:17:07.661891
4,"The Originals Residence, Le Monde Paris Ivry C...",2,"아이브리-수르-세이네, 파리 - 도심까지 2.0km",8.0,우수,1526,326731,156234,['조식'],2023-06-01,2023-06-02,1,2023-05-19 11:17:07.696893
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156494,Splendid 2BED apartment located in the Marais ...,3,"3구 - 탕플 - 레퓌블리케, 파리 - 도심에 위치",아고다 신규 숙소,주요 특징,-1,1205362,1205362,"['인터넷\xa0', '일일 청소 서비스', 'Wi-Fi\xa0']",2023-08-31,2023-09-01,32,2023-05-20 00:28:36.653687
156495,Roland garros sunny terrasse one bedroom,0,"16구 - 트로카데로, 파리 - 도심에 위치",아고다 신규 숙소,주요 특징,-1,318979,318979,[],2023-08-31,2023-09-01,32,2023-05-20 00:28:36.689689
156496,"Maison Proust, Hotel & Spa La Mer",5,"3구 - 탕플 - 레퓌블리케, 파리 - 도심에 위치",9.2,최고,28,848434,848434,"['조식', '무료 Wi-Fi']",2023-08-31,2023-09-01,32,2023-05-20 00:28:36.721687
156497,X Taylor - Amazing apartment next Republique p...,0,"10구 - 가르 뒤 노르(북역), 파리 - 도심에 위치",아고다 신규 숙소,주요 특징,-1,770642,770642,[],2023-08-31,2023-09-01,32,2023-05-20 00:28:36.756648
156498,PARIS MOZART,1,"16구 - 트로카데로, 파리 - 도심에 위치",아고다 신규 숙소,주요 특징,-1,254641,254641,['무료 Wi-Fi'],2023-08-31,2023-09-01,32,2023-05-20 00:28:36.792646

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156499 entries, 0 to 156498
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   hotel_names        156499 non-null  object
 1   stars              156499 non-null  int64
 2   locations          156499 non-null  object
 3   avg_grades         156499 non-null  object
 4   evaluations        156499 non-null  object
 5   review_counts      156499 non-null  int64
 6   prices             156499 non-null  int64
 7   discount_prices    156499 non-null  int64
 8   services_provided  156499 non-null  object
 9   check_in           156499 non-null  object
 10  check_out          156499 non-null  object
 11  page               156499 non-null  int64
 12  date_time_now      156499 non-null  object
dtypes: int64(5), object(8)
memory usage: 15.5+ MB

In [5]:
df = df.drop(['page','date_time_now'], axis = 1 )
df = df.drop_duplicates()
df = df.drop(['locations','check_out'], axis = 1 )

In [6]:
df

,hotel_names,stars,avg_grades,evaluations,review_counts,prices,discount_prices,services_provided,check_in
0,더 피플 파리 마레 (The People Paris Marais),5,8.8,우수,539,205163,89999,"['조식', '무료 Wi-Fi']",2023-06-01
1,더 피플 파리 네이션 (The People Paris Nation),5,8.6,우수,282,187588,95562,"['조식', '무료 Wi-Fi']",2023-06-01
2,메이페어 호텔 (Mayfair Hotel),4,8.9,우수,349,666560,570930,"['무료 Wi-Fi', '익스프레스 체크인']",2023-06-01
3,Novotel Paris Centre Tour Eiffel Hotel,4,7.8,매우 좋음,771,436161,436161,[],2023-06-01
4,"The Originals Residence, Le Monde Paris Ivry C...",2,8.0,우수,1526,326731,156234,['조식'],2023-06-01
...,...,...,...,...,...,...,...,...,...
156494,Splendid 2BED apartment located in the Marais ...,3,아고다 신규 숙소,주요 특징,-1,1205362,1205362,"['인터넷\xa0', '일일 청소 서비스', 'Wi-Fi\xa0']",2023-08-31
156495,Roland garros sunny terrasse one bedroom,0,아고다 신규 숙소,주요 특징,-1,318979,318979,[],2023-08-31
156496,"Maison Proust, Hotel & Spa La Mer",5,9.2,최고,28,848434,848434,"['조식', '무료 Wi-Fi']",2023-08-31
156497,X Taylor - Amazing apartment next Republique p...,0,아고다 신규 숙소,주요 특징,-1,770642,770642,[],2023-08-31
156498,PARIS MOZART,1,아고다 신규 숙소,주요 특징,-1,254641,254641,['무료 Wi-Fi'],2023-08-31

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149720 entries, 0 to 156498
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   hotel_names        149720 non-null  object
 1   stars              149720 non-null  int64
 2   avg_grades         149720 non-null  object
 3   evaluations        149720 non-null  object
 4   review_counts      149720 non-null  int64
 5   prices             149720 non-null  int64
 6   discount_prices    149720 non-null  int64
 7   services_provided  149720 non-null  object
 8   check_in           149720 non-null  object
dtypes: int64(4), object(5)
memory usage: 11.4+ MB

In [8]:
df_error = df[(df['review_counts'] <= 0) | (df['prices'].isnull()) | (df['discount_prices'].isnull())] 
df = df.drop(index=df_error.index).reset_index(drop=True)

In [9]:
df

,hotel_names,stars,avg_grades,evaluations,review_counts,prices,discount_prices,services_provided,check_in
0,더 피플 파리 마레 (The People Paris Marais),5,8.8,우수,539,205163,89999,"['조식', '무료 Wi-Fi']",2023-06-01
1,더 피플 파리 네이션 (The People Paris Nation),5,8.6,우수,282,187588,95562,"['조식', '무료 Wi-Fi']",2023-06-01
2,메이페어 호텔 (Mayfair Hotel),4,8.9,우수,349,666560,570930,"['무료 Wi-Fi', '익스프레스 체크인']",2023-06-01
3,Novotel Paris Centre Tour Eiffel Hotel,4,7.8,매우 좋음,771,436161,436161,[],2023-06-01
4,"The Originals Residence, Le Monde Paris Ivry C...",2,8.0,우수,1526,326731,156234,['조식'],2023-06-01
...,...,...,...,...,...,...,...,...,...
144626,LCDS01 Maison cour prive Box,1,10,주요 특징,1,157953,157953,['무료 주차\xa0'],2023-08-31
144627,Studio avec vue sur le Sacre-Coeur,1,5.6,주요 특징,1,167401,167401,['나이트클럽'],2023-08-31
144628,Appartement Proche Disneyland Paris,2,9,주요 특징,5,80606,80606,"['24시간 프런트 데스크', '무료 주차\xa0']",2023-08-31
144629,roomate only woman,0,2.2,투숙객 평점,3,27410,27410,[],2023-08-31
144630,"Maison Proust, Hotel & Spa La Mer",5,9.2,최고,28,848434,848434,"['조식', '무료 Wi-Fi']",2023-08-31

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144631 entries, 0 to 144630
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   hotel_names        144631 non-null  object
 1   stars              144631 non-null  int64
 2   avg_grades         144631 non-null  object
 3   evaluations        144631 non-null  object
 4   review_counts      144631 non-null  int64
 5   prices             144631 non-null  int64
 6   discount_prices    144631 non-null  int64
 7   services_provided  144631 non-null  object
 8   check_in           144631 non-null  object
dtypes: int64(4), object(5)
memory usage: 9.9+ MB

In [11]:
df.to_csv('hotel678.csv', index=False)